In [1]:
import requests
from tqdm.notebook import tqdm
import pandas as pd

In [2]:
api_url = "https://nsprocessdatamcnzjdzn-fct-process-odre-data.functions.fnc.fr-par.scw.cloud"
x_auth_token = "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbl9jbGFpbSI6W3sibmFtZXNwYWNlX2lkIjoiIiwiYXBwbGljYXRpb25faWQiOiI5MWUxNGRkZS0zMjEyLTQ3MWEtOGVkZi0zYzQ5MTg0ZTY3NWMifV0sInZlcnNpb24iOjIsImF1ZCI6ImZ1bmN0aW9ucyIsImp0aSI6IjIyZDA3NzM0LWE1MjctNDNiZC05NjRlLTZkZTZkMmRhMTc1NCIsImlhdCI6MTc0NzE1MDM1OSwiaXNzIjoiU0NBTEVXQVkiLCJuYmYiOjE3NDcxNTAzNTksInN1YiI6InRva2VuIn0.NHkohCDb0sn_fnZEcpoDtGoL6hefEAcmk6QeYtKdL87oaYht2rGFsFsE6ByIKmBO_Z1WQN9ECB-f_iHBL4yBI9w8Jwx4V_UFKd5RtfN2NXvhTyjtd99F84J-cL6gHFPU45fhFB6NeZtf9UhspT0SJmfjPv5rjidYD-sPEmGOi3sxakNKC31p82tZNGTLBAB45YNYk4f_cB11aza2jfsRo_eXwtOi5TC8IerGVBBpVHQFqNqg69H6L0c5RrD5HCwRre2bY9LB8T__AGoGXrxRJLigeTjIbLZ1rz2ZyxeJg9qTg9ofhWqgnA0-w2nGNjvoROAMH5kvY_f1V_h5FZwbUK4gKAiIdLE3B5ngpznovbpOTj2hCXKifvE62zH15p7VQxfi1cDuJnNpGRX8H8z8bh0DpLZs-bfcZ5BtrRpnfeTAvqZepnApbOjxzMOwRdYWN-lOZAE_W3OarJziyjJWk2dTyCBUwK3MDZL_LqIDAWsGFeuuZrey8LUFw8auAucz8ylouHMbYka0E8QauLNGzoZ1uo8Wemw49W5cE7naBjs98Y4Xhho7Zm41BL88IytQfD1Jh0BPcy3OQUv83Zer-zXY3tnVEaCSJFFCBQen94_xuE6D5c-s_KsQBWWAkm9N27Ina8GPLZ_0gNSDWmx9yF6xekP4CPOmFRlhA4qITcs"

headers = {
    "X-Auth-Token": x_auth_token,
}

for date in tqdm(pd.date_range(start='2025-04-04', end='2025-05-05', inclusive='both').date):
    data = {
        "date": date.isoformat(),
        # "data": "Eco2mix-tr"
    }

    response = requests.post(
        api_url,
        headers=headers, 
        json=data)

    if response.status_code == 200:
        print("Request successful:", response.text)
    else:
        print("Request failed with status code:", response.status_code)
        print("Response:", response.text)

  0%|          | 0/32 [00:00<?, ?it/s]

Request successful: Operation completed successfully for date 2025-04-04 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-05 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-06 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-07 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-08 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-09 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-10 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-11 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-12 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-13 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-14 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-15 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-16 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-17 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-18 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-19 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-20 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-21 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-22 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-23 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-24 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-25 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-26 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-27 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-28 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-29 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-04-30 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-05-01 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-05-02 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-05-03 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-05-04 and data Eco2mix-tr.
Request successful: Operation completed successfully for date 2025-05-05 and data Eco2mix-tr.

In [1]:
import boto3
from botocore.client import Config
import pandas as pd

In [3]:
ACCESS_KEY = "SCWGEPYKEJXHP0T0J7Z9"
SECRET_KEY = "c590535d-e02a-47f7-989f-7ed911874170"
REGION = "fr-par"

country = "FR"
date_str = "2025-04-29"

In [6]:
key = f'EEX/Power/Futures/{country}/{date_str.replace('-', '')}_Power_Futures_EEX_{country}.csv'
client = boto3.client(
    's3',
    endpoint_url=f'https://s3.{REGION}.scw.cloud',
    aws_access_key_id=ACCESS_KEY,
    aws_secret_access_key=SECRET_KEY,
    config=Config(signature_version='s3v4'),
    region_name=REGION
)
resp_get = client.get_object(
    Bucket='vercloud',
    Key=key
)

In [9]:
pd.read_csv(resp_get['Body'], comment='#', sep='.', names=['raw_lines'])

                                             raw_lines
0                   ST;2025-04-29;2025-04-29T18:11:09Z
1    PR;F729;EEX French Power Base Day 29 Future;20...
2    PR;F730;EEX French Power Base Day 30 Future;20...
3    PR;F701;EEX French Power Base Day 1 Future;202...
4    PR;F702;EEX French Power Base Day 2 Future;202...
..                                                 ...
193  OT;F7PY;EEX French Power Peak Year Future;2028...
194  OT;F7PY;EEX French Power Peak Year Future;2029...
195  OT;F7PY;EEX French Power Peak Year Future;2030...
196  OT;F7PY;EEX French Power Peak Year Future;2031...
197                                             AL;205

[198 rows x 1 columns]